.sui-termDefResource__header {
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-size: smaller;
}
.sui-termDefResource__content > button {
    margin-right: 1.6rem;
}
.sui-termDefResource__content > button.btn.btn-outline-dark {
    font-size: 1.5rem;
    border: 1px solid transparent;
}
.sui-termDefResource__content > button.btn.btn-outline-dark:hover {
    background-color: #4d59ca;
    border: 1px solid transparent;
}
.sui-termDefResource__content > button.btn.btn-outline-dark:hover span.icon {
    color: #f7fafc;
}
.sui-termDefResource__content
    > .btn-outline-dark:not(:disabled):not(.disabled):active,
.sui-termDefResource__content
    > .btn-outline-dark:not(:disabled):not(.disabled).active,
.sui-termDefResource__content > .show > .btn-outline-dark.dropdown-toggle {
    background-color: #4d59ca;
    border-color: #4d59ca;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none;
}
.sui-termDefResource__content > button.btn.btn-outline-dark .icon {
    margin-right: 0.8rem;
    /* vertical-align: -5%; ...what is this  */
}
.sui-termDefResource__content > button.btn.btn-outline-dark span.btn-text {
    margin-right: 0.4rem;
}
.sui-termDefResource__content > button.btn.btn-outline-dark span.badge {
    background-color: #cbd5e0;
}
