.sui-termTitle {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 2.25rem;
    margin-right: 1.25rem;
}
.sui-termTitle .latin {
    margin-left: 0.25rem;
}

.sui-relatedSubHeader {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    text-indent: 3.5rem;
    font-weight: bold;
    color: #000;
    margin-top: 0.2rem;
    letter-spacing: 0.175rem;
}
.sui-relatedSubHeader::before {
    content: '–';
    display: inline-block;
    color: #000;
    position: relative;
    bottom: 0.15rem;
    margin-right: 0.5rem;
}
