@import '../../_index-variables.scss';
@import 'kmaps_shared';

#place-kmap-tabs-tabpane-map {
    //  min-height: calc(100vh - 12rem);
    height: 80vh;
}

.c-place-names {
    .col:first-child {
        border-right: thin solid #aaa;
        margin-top: 2rem;

        h1 {
            margin-top: -1rem;
        }
    }
    h1 {
        margin: 1.75rem 0 0.5rem;
        font-weight: bold;
        font-size: 1.35rem;
        text-transform: uppercase;
    }

    div[class^='lv-']:before {
        display: inline-block;
        content: '•';
        margin-right: 0.5rem;
    }

    .lv-0 {
        margin-left: 0rem;
    }

    .lv-1 {
        margin-left: 2rem;
    }

    .lv-2 {
        margin-left: 3rem;
    }

    .lv-3 {
        margin-left: 6rem;
    }

    .lv-4 {
        margin-left: 8rem;
    }

    .lv-5 {
        margin-left: 10rem;
    }

    .lv-6 {
        margin-left: 12rem;
    }
}

.c-place-location {
    p {
        margin: 1rem 0.5rem;
    }

    p:first-child {
        margin-top: 2rem;
    }

    label {
        font-weight: bold;
    }

    label:after {
        content: ':';
    }

    .popover-link {
        top: -0.75rem;
        left: 0.25rem;
        font-size: 120%;
    }
}

#place-kmap-tabs-tabpane-about {
    margin-top: 1rem;
    font-size: 110%;
    .shanti-texts-section-title {
        margin: 0.5rem 0 1rem;
        font-style: italic;
        font-size: 170% !important;
    }
    .c-kmaps-related-text {
        padding: 0 1.5rem 1.5rem;
    }
}

/* This is for the popover in places but could be generalized if the popover in utilcomponents.js is used elsewehere */
#mandala-info-tip,
#mandala-info-tip * {
    background-color: #ffffffff;
    color: #333;
    font-size: 1.35rem;
}

#mandala-info-tip {
    border: 8px ridge #e0dfdf;
    ul li {
        list-style-type: none;
    }
    .shanti-texts-field.field_kmap_places {
        display: none;
    }
}

.mandala-info-link {
    float: right;
    span {
        color: #333;
        font-size: 1.35rem;
    }
}

.shanti-texts-section-kmaps {
    display: none;
}
