.c-audioPlayer {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}
.c-audioPlayer__button {
    width: 4.5rem;
    height: 4rem;
    border: 0.3rem double #fff;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0;
    opacity: 1;
    transform: all (1.175);
    transition: scale 0.25s ease-in-out;
    background: #4d59ca;
    padding: inherit;
}
.c-audioPlayer__button:hover {
    transform: scale(1.05);
}
.c-audioPlayer__button:focus {
    outline: 0;
}
.c-audioPlayer__button:focus,
.c-audioPlayer__button:active {
    transform: scale(0.95);
}
.c-audioPlayer__button .u-icon__audio {
}
.c-audioPlayer__button .u-icon__audio::before {
    position: relative;
    top: 0.2rem;
    color: #fff;
    font-size: 1.5em;
}
.c-audioPlayer__select--wrapper {
    margin-left: 2rem;
    padding: 0.65rem 0 0.7rem;
    display: inline-block;
}
.c-audioPlayer__select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
        no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0.5rem 0.25rem 0.5rem 1.75rem;
    border: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 0.4rem 0.1rem #ddd;
    border-radius: 0.75rem;
}
.c-audioPlayer__select:hover {
    box-shadow: 0 0 0.6rem 0.15rem #4d59ca80;
}

/*
** Recording Player
*/
/* { width: 40px; }*/

.recording-wrapper,
.recording-controls,
.recording-list {
    float: left;
}

.terms-audio-pronunciation-container {
    position: relative;
    left: 2rem;
    height: 2.2rem;
}

.terms-audio-pronunciation-container .terms-audio-player-selector {
    position: absolute;
    top: -0.2rem;
    left: 1.25rem;
    display: inline;
    width: 40px;
}

.recording-play-button {
    width: 3rem;
    height: 3rem;
    border: 0.3rem double #fff;
    border-radius: 50%;
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
    text-align: center;
    margin-top: -0.15rem;
    opacity: 0.85;
    transform: scale(1.175);
    transition: all 0.25s ease-in-out;
}
.recording-play-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.recording-play-button:focus,
.recording-play-button:active {
    transform: scale(1.225);
}

.recording-play-button:hover {
    opacity: 1;
    transform: scale(1.1);
}

.recording-play-button:focus,
.recording-play-button:active {
    transform: scale(1.225);
}

.recording-play-button .icon {
    position: relative;
    top: 0.15rem;
    right: 0.05rem;
}

.recording-play-button .icon:before {
    position: relative;
    top: 0.1rem;
    left: 0.025rem;
}
