@import '../../../css/fonts/shanticon/style.css';
.l-column__related {
    height: 100%;
    min-width: 16rem;
    max-width: 22rem;
    margin: 0 1rem 2rem -23rem;
    padding: 0;
    transition: margin, 0.3s;
    flex: none;
    resize: horizontal;
}

.l-column__related .fancytree-exp-nl .fancytree-title::before,
.l-column__related .fancytree-exp-n .fancytree-title::before {
    background-color: #333;
    width: 0.75rem;
    position: relative;
    top: -0.3rem;
    left: -0.1rem;
}

.l-column__related .fancytree-exp-nl:hover .fancytree-title::before,
.l-column__related .fancytree-exp-n:hover .fancytree-title::before {
    background-color: #000 !important;
}

.l-column__related .fancytree-active:hover .fancytree-title::before {
    background-color: #fff !important;
}

.l-column__related .fancytree-node:not(.fancytree-active):hover,
.l-column__related .fancytree-node:not(.fancytree-active):active {
    background-color: #ffffff !important;
}

.sui-relatedHeader {
    margin: 0.75rem 0 0;
    display: inline;
    position: relative;
    top: -1.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.l-history__list__wrap .u-related__list__header {
    margin-bottom: 0.75rem;
}

.l-related__list__wrap .icon {
    margin-right: 0.75rem;
    position: relative;
    top: 0.125rem;
    font-size: 1.6rem;
}
.l-related__list__wrap .icon::before {
    color: #555 !important;
}
.l-related__list__wrap .u-icon__logo-shanti {
    font-size: 1.7rem;
}
.l-related__list__wrap .u-icon__overview {
    margin-left: 0.1rem;
    font-size: 1.4rem;
    line-height: 2;
}
.l-related__list__wrap .l-related__tree__wrap .fancytree-title {
    color: #000 !important;
}
.l-related__list__wrap .l-related__tree__wrap .popover-link {
    margin-left: 0.15rem;
    top: 0.5rem;
}

@media (min-width: 1250px) {
    .l-column__related {
        margin-left: -1rem;
    }
}
.c-related__item {
    display: block;
    line-height: 2;
    width: 21rem;
    color: #222;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    padding: 0.15rem 0 0.5rem 1.25rem;
    margin: 0 0 0.2rem 0.25rem !important;
    background-color: #fff;
    border: 0.1rem solid #555;
}
.c-related__item.c-related__link--home {
    padding-top: 0.65rem;
}
.c-related__item.c-related__link--home span:not(.icon) {
    position: relative;
    left: 0.2rem;
}
.c-related__item.c-related__link--home:hover {
    padding-top: 0.65rem;
}
.c-related__item:hover {
    background-color: white !important;
    border-color: #4d59ca;
    color: #000 !important;
}
.c-related__item.active,
.c-related__item:active {
    border-color: red !important;
}
.c-related__item:hover,
.c-related__item:hover .icon::before {
    color: #555;
}
.c-related__item:not(.selected):hover {
    border-color: #4d59ca;
    color: #000;
}
.c-relatedViewer {
    margin: 0 1rem 1.5rem 0.8rem;
}
.c-relatedViewer #sui-rln-places {
    font-size: 1.2rem;
    margin-left: 0.8rem;
}
.c-relatedViewer #sui-rln-places::before {
    content: '(';
    position: relative;
    left: -0.15rem;
    font-size: 120%;
    color: #999;
    font-weight: normal;
}
.c-relatedViewer #sui-rln-places::after {
    content: ')';
    position: relative;
    right: -0.15rem;
    font-size: 120%;
    color: #999;
    font-weight: normal;
}

.c-related__list--icon {
    border-color: transparent;
    height: 6px;
}

.u-related__list__header {
    padding: 0 0 0.25rem 0.5rem;
    margin: 0 1rem;
    font-size: 1.45rem;
    font-weight: bold;
    color: #111;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.l-related__tree__wrap > .u-related__list__header {
    padding-top: 0;
}
.l-related__tree__wrap .view-wrap {
    padding: 0 1.2rem !important;
}
.l-related__tree__wrap .fancytree-container {
    border: 1px solid #ddd !important;
    box-shadow: inset 0 0 8px #ddd;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: auto;
    max-height: 50rem;
    background-color: #fff !important;
}
.l-related__tree__wrap .fancytree-node {
    margin-top: 0;
    padding-top: 0;
    outline: none;
}
.l-related__tree__wrap .fancytree-exp-nl .fancytree-title::before,
.l-related__tree__wrap .fancytree-exp-n .fancytree-title::before {
    margin-right: 0.75rem !important;
    font-weight: bold !important;
    background-color: transparent;
}
.l-related__tree__wrap .fancytree-exp-nl:hover .fancytree-title::before,
.l-related__tree__wrap .fancytree-exp-n:hover .fancytree-title::before {
    background: transparent !important;
}
.l-related__tree__wrap .fancytree-expander {
    margin-right: 0.9rem;
    color: #91693c !important;
}

/* Related Icons Styles */
.c-relateds-icons {
    margin-top: 1rem;
}
.c-relateds-icons li {
    display: inline-block;
    margin-right: 1.25rem;
    padding: 0;
}
.c-relateds-icons li > div {
    display: inline-block;
    background: #ddd;
    border-radius: 0.2rem;
    background-clip: padding-box;
    width: 2.8rem;
    height: 2.8rem;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.c-relateds-icons li.audio-video a {
    background-color: #3297f7;
}
.c-relateds-icons li.images a {
    background-color: #cc761a;
}
.c-relateds-icons li.sources a {
    background-color: #5a57ad;
}
.c-relateds-icons li.texts a {
    background-color: #8c48a1;
}
.c-relateds-icons li.visuals a {
    background-color: #558e3c;
}
.c-relateds-icons li.places a {
    background-color: #3297f7;
}
.c-relateds-icons li.subjects a {
    background-color: #cc4c39;
}
.c-relateds-icons li.terms a {
    background-color: #91693c;
}
.c-relateds-icons a {
    border: none !important;
    background: #777;
    color: #222;
    margin: 0.3rem;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    text-align: center;
    filter: alpha(opacity=90);
    opacity: 0.9;
    border-radius: 0.15rem;
    box-shadow: 0 0 0.2rem 0.1rem #fff;
}
.c-relateds-icons span.icon {
    font-size: 0.93em;
    position: relative;
    width: 100%;
    top: -0.1rem;
    color: #fff;
    text-align: center;
}
.c-relateds-icons span.kmaps-results-name {
    display: none;
}
.c-relateds-icons span.badge {
    vertical-align: top;
}

.kmaps-related-viewer a.nav-item {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1.5rem 2.75rem 1rem;
    border-color: #ccc;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #fff;
}
.kmaps-related-viewer a.nav-item:hover,
.kmaps-related-viewer a.nav-item:active,
.kmaps-related-viewer a.nav-item:focus {
    border-color: #aaa;
    border-bottom-color: #ccc;
}
.kmaps-related-viewer a.nav-item.active {
    color: #000;
    position: relative;
    border-top: 0.3rem solid #cc4c39;
}
.kmaps-related-viewer a.nav-item.active:hover {
    border-bottom: 0.1rem solid #fff;
}
.kmaps-related-viewer.places a.nav-item.active {
    color: #000;
    border-bottom: thin solid #fff;
    border-top: 0.3rem solid #3297f7;
    padding-top: 1.3rem;
}
.kmaps-related-viewer + .tab-content {
    padding: 2rem 2rem 8rem 2.5rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1.45rem;
    min-height: calc(100vh - 30rem);
}
.kmaps-related-viewer + .tab-content h4.head-related {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1.25rem;
}
.kmaps-related-viewer + .tab-content .kmap-related h6 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
}

.head-related {
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.kmap-content > p,
.kmap-context > p,
.kmap-related > p {
    max-width: 90rem;
}

.c-relplaces-list.container-fluid .c-featurePager__container.row {
    padding: 1rem;
    margin-left: -1.75rem;
    background-color: #777;
    color: white;
    /* max-width: 1100px; */
}
.c-relplaces-list.container-fluid
    .c-featurePager__container.row
    .c-featurePager__navButtons
    .icon {
    color: #bcbcbc;
}
.c-relplaces-list.container-fluid
    .c-featurePager__container.row
    .c-featurePager__navButtons
    .icon:hover {
    color: #fff;
}
.c-relplaces-list.container-fluid .c-featurePager__container.row > div {
    width: 30%;
    text-align: left;
}
.c-relplaces-list.container-fluid .rel-place-feature:not(:first-child) {
    margin-top: 1rem;
}

.kmap-related .md3 {
    min-width: 27.5rem;
}

.c-relplaces-list.places h2.row {
    margin: 1rem 0 1rem -1.5rem;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.45rem;
}

.kmap-related ul,
.nodeHeader-summary ul,
.astviewer:not(.texts) ul {
    margin-right: 1rem;
    margin-left: 0.75rem;
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 2;
}
.kmap-related ul li,
.nodeHeader-summary ul li,
.astviewer:not(.texts) ul li {
    /* line-height: 0.75; */
}
.kmap-related ul li::before,
.nodeHeader-summary ul li::before,
.astviewer:not(.texts) ul li::before {
    content: '';
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    border: 0.2rem solid #888;
    margin-right: 1rem;
    position: relative;
    left: 0.5rem;
    top: -0.15rem;
    transform: rotate(45deg);
}
.kmap-related .nodeHeader-summary .head-related,
.nodeHeader-summary .nodeHeader-summary .head-related,
.astviewer:not(.texts) .nodeHeader-summary .head-related {
    width: 100%;
    margin: 1.5rem 1rem 0.25rem 0;
    padding: 0.6rem 1rem 0.4rem 0;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: bold;
}

.nodeHeader-summary ul {
    line-height: 1.25;
}

.c-content__main__kmaps .head-related ~ ul {
    margin-right: 1rem;
    margin-left: 0.75rem;
    list-style-type: none;
    padding-inline-start: 0;
    line-height: 1.5;
}
.c-content__main__kmaps .head-related ~ ul li {
    /* line-height: 0.75; */
}
.c-content__main__kmaps .head-related ~ ul li::before {
    content: '';
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    border: 0.15rem solid #555;
    margin-right: 1rem;
    position: relative;
    left: 0.1rem;
    top: 1.35rem;
    float: left;
    transform: rotate(45deg);
}
.c-content__main__kmaps .places--related-subjects {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2rem 1.5rem 5rem 2rem;
    min-height: 65vh;
    background-color: #fff;
}

/*
.places .head-related {
    border-left-color: $color-places;
}
.subjects .head-related {
    border-left-color: $color-subjects;
}
.terms .head-related {
    border-left-color: $color-terms;
}
*/

/*# sourceMappingURL=RelatedsViewer.css.map */
