// --------------------------------------
// * TOP BANNER: Site Header
// --------------------------------------

.c-site__header {
    height: 4.5rem;
    padding: 0;
    background: #fff;
    display: flex;
}
.c-site__header-standalone {
    height: 4.5rem;
    padding: 0;
    display: none;
}
.navbar-brand {
    display: inline-block;
}
.navbar-brand img {
    /*position: relative;
    top: -0.2rem;*/
}
.navbar-brand h1 {
}
.c-site__header h1 {
    font-size: 2rem;
    display: inline;
    margin: 0 0 0 2rem;
    padding: 0;
    line-height: 1.75;
}
.c-site__header > nav {
    flex: 1 1;
    background-color: #fff !important;
    padding: 0.25rem 1rem 0.5rem;
    /* padding: 0;
    font-size: 1.5rem;*/
}
.c-site__header .navbar-collapse {
    justify-content: center;
}

.c-site__search {
    display: -webkit-flex;
    display: flex;
    height: 3.8rem;
    margin-right: 19rem;
    padding-left: 1.75rem;
    padding-top: 0;
    border: 0.1rem solid #4d59ca;
    border-color: #4d59ca #ccc;
    border-width: 0.3rem 0.1rem 0.1rem;
    margin-top: 0.25rem;
    min-width: 32rem;
    box-shadow: inset 0 0.25rem 0.75rem #aaa;
}
.c-site__search > * {
    display: flex;
}

.sui-search2 {
    display: flex;
    font-style: italic;
    min-width: 35rem;
    font-size: 1.85rem;
    padding: 0 2rem 0 1.25rem;
    margin: 0;
    border: none !important;
    background: transparent;
}

.l-search__input__buttons {
    position: relative;
    left: -0.75rem;
    top: -0.1rem;
}

.sui-search3 {
    font-size: 2.25rem;
    color: #ccc;
    cursor: pointer;
    right: 1rem;
    position: relative;
}

.navbar-nav {
    display: none;
}
// --------------------------------------------------------
// TOP BANNER ---- Headroom ------ script/css testing
// --------------------------------------------------------
html,
body {
    /* scroll-padding-top: 4rem; set to the height of header */
}
.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
    will-change: transform;
    transition: transform 350ms ease-in-out;
}
.headroom--scrolled {
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    //   display: none;
    visibility: hidden;
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0);
    display: block;
}
.headroom--top {
}
.headroom--top,
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
// --------------------------------------
// END of Headroom script/css testing
// ----------------------
