@import '../../index-variables';

// Site Banner
.c-site__header {
    height: 4.5rem;
    padding: 0;
    background: #fff;
    display: flex;
    .siteSettings-Toggle--button {
        background-color: transparent;
        border: none;
        width: 5rem;
        border-right: 1px solid #ccc;
        border-radius: 0;
        justify-content: space-around;
        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            border-color: #ccc;
            box-shadow: none;
        }
        svg {
            color: #555;
            font-size: 2rem;
        }
    }
    .navbar-brand {
        display: inline-block;
        h1 {
            /* font-size: 1.5rem;
            display: inline;
            margin: 0 0 0 2rem;
            padding: 0;
            line-height: 1.5; */
        }
        img {
            /*position: relative;
            top: -0.2rem;*/
        }
    }
    & > nav {
        flex: 1 1;
        background-color: #fff !important;
        padding: 0;
        /* padding: 0;
        font-size: 1.5rem;*/
    }

    // -------------------
    // --- Search Box ----
    // -------------------
    .c-site__search {
        margin-top: 0.9rem;
        margin-right: -1rem;
        padding-left: 0.5rem;
        .sui-search1 {
            position: relative;
            input.sui-search2 {
                font-size: 1.65rem;
                padding: 0.4rem 4rem 0.25rem 1rem;
                background: transparent;
                border: none;
                border-bottom: 0.1rem solid rgba(77, 89, 201, 0.8); // --- color mandala, 50% opacity
                margin: 0;
                width: 24rem;
                transition: width 0.5s, border 0.35s;
                color: #000;
                box-shadow: none;
                background: transparent;
                &:placeholder-shown {
                }
                &:focus,
                &:active {
                    padding-right: 8.5rem;
                    width: 34rem;
                    outline: none;
                    background: #fff;
                    border-bottom-width: 0.15rem;
                    border-bottom-color: $color-mandala;
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: transparent;
                    }
                    &::-moz-placeholder {
                        /* Chrome/Opera/Safari */
                        color: transparent;
                    }
                    &:-ms-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: transparent;
                    }
                    &:-moz-placeholder {
                        /* Chrome/Opera/Safari */
                        color: transparent;
                    }
                }
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: $color-mandala;
                    font-style: italic;
                    font-size: 1.7rem;
                    letter-spacing: 0.0125rem;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: $color-mandala;
                    opacity: 1;
                    font-style: italic;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: $color-mandala;
                    font-style: italic;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: $color-mandala;
                    opacity: 1;
                    font-style: italic;
                }
            }
            &:hover::-webkit-input-placeholder,
            &:hover::-moz-placeholder,
            &:hover:-ms-input-placeholder,
            &:hover:-moz-placeholder {
                color: red;
            }
            .sui-search3 {
                position: relative;
                right: 6.5rem;
                top: 0.1rem;
                display: inline-block;
                height: 2rem;
                width: 2rem;
                transition: color 0.75s;
            }
            .sui-search4 {
                // --- search enter - Go get it!
                position: absolute;
                top: 0.35rem;
                right: 3.1rem;
                display: inline-block;
                font-size: 1.8rem;
                span {
                    &::before {
                        color: $color-mandala;
                        opacity: 0.6;
                        transition: opacity 400ms;
                    }
                    &:hover::before {
                        opacity: 1;
                        color: #000;
                    }
                }
            }
        }
    }
}

input.sui-search2:focus + .sui-search3,
input.sui-search2:active + .sui-search3 {
    &::before {
        content: 'X';
        display: inline-block;
        color: #aaa;
        font-size: 1.75rem;
        position: absolute;
        top: 0;
        right: 1.6rem;
    }
    &:hover::before {
        color: $color-subjects;
    }
    &::after {
        content: '';
        display: inline-block;
        width: 0.15rem;
        height: 1.75rem;
        background-color: #c0c0c0;
        position: absolute;
        top: 0.5rem;
        right: 0;
    }
}

input.sui-search2:focus + .sui-search3 + .sui-search4 span::before,
input.sui-search2:active + .sui-search3 + .sui-search4 span::before {
    opacity: 1;
}
input.sui-search2:focus + .sui-search3 + .sui-search4 span:hover::before,
input.sui-search2:active + .sui-search3 + .sui-search4 span:hover::before {
    color: #000;
}
.navbar-nav,
.navbar-toggler,
.c-site__header-standalone {
    display: none;
}

// --------------------------------------------------------------------------------
// TOP BANNER ---- Headroom React show-hide sticky-header ------ script/css testing
// -------------------------------------------------------------------------------
html,
body {
    /* scroll-padding-top: 4rem; set to the height of header */
}
.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
    will-change: transform;
    transition: transform 350ms ease-in-out;
}
.headroom--scrolled {
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    //   display: none;
    visibility: hidden;
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0);
    display: block;
}
.headroom--top {
}
.headroom--top,
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
// --------------------------------------
// END of Headroom script/css testing
// ----------------------
