/* ADVANCED SEARCH */

.l-column__search {
    height: 100%;
    padding-bottom:8rem;
    padding-right:1rem;
  }

.sui-advTop {
    text-align: center;
    color: #fff;
    background-color: #888;
    padding: 16px 8px 0 0;
    margin: -16px 0 0 -16px;
    width: calc(100% + 24px);
    height: 36px;
}

.sui-advBox {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 0 1rem;
    padding: 0;
    min-height: 4.5rem;
    width: calc(100% - 10px);
    cursor: default;
}
.l-column__search > section .sui-advBox:nth-child(even) {

}

.l-column__search > section .sui-advBox:first-child .facetItem {
    display: none;
}

.sui-advBox.sui-advBox-associated.subjects {
    display: none;
}

.sui-advBox .app-name {
    line-height: 2.2rem;
}

.sui-advBox-asset_type {
    text-transform: capitalize;
}
/*
.sui-advHeader:hover {
  color: #668eec;
}
*/
.sui-advHeader {
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    font-size: 1.55rem;
    height:3.5rem;
    padding-top:1.25rem;
    margin-bottom: .8rem;
}
.sui-advBox:hover,
.sui-advHeader:hover {
    color: #000;
    cursor: pointer;
}

.sui-advHeader > .icon {
    margin: 0 1.25rem 0 .75rem;
    font-size: 1.9rem;
    position: relative;
    top: -0.4rem;
    left: -0.1rem;
    color:#444;
}
.sui-advHeader .badge {
    padding: 0.5rem 3.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.sui-advHeader .badge.badge-secondary {
    color: #fff;
    padding-right: 1rem;
    cursor: default;
}

.sui-advHeader .badge-secondary ~ .u-icon__plus,
.sui-advHeader .badge-secondary ~ .u-icon__minus {
    visibility: hidden;
    cursor: default;
}

.sui-advHeader .u-icon__plus,
.sui-advHeader .u-icon__minus {
    position: absolute;
    right: 0.65rem;
    top: 0.6rem;
    font-size: 0.85rem;
    color: #eee;
    cursor: pointer;
}

.sui-advHeader > .app-name {
    flex: 1;
    color: #333;
}

.sui-advBox-recent .c-HistoryViewer {
    font-size: 1.25rem;
    color: #000;
    padding: 0.5rem;
    max-height: 12rem;
    position: relative;
    box-shadow: none;
    border: none;
    background: transparent !important;
    margin: 0;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem {
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    cursor: pointer;
    padding-left: 0.4rem;
    padding-bottom: 0.25rem;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem:hover {
    background-color: #dee7f1;
}

.sui-advBox-recent .c-HistoryViewer__removeItem {
    cursor: pointer;
    font-size: 1.25rem;
    color: transparent;
    margin-top: 0.35rem;
    position: absolute;
    right: 0.5rem;
    transition: color 250ms ease-in;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem:hover,
.c-HistoryViewer__removeItem {
    color: #aaa;
}

.sui-advBox-recent .c-HistoryViewer__removeItem:hover::before {
    color: #df3d26;
}

.sui-advBox-recent .c-HistoryViewer__removeItem:active::before {
    color: #aaa;
}

.sui-advBox-recent .sui-advEdit {
    padding-right: 0;
    padding-left: 0.5rem;
}

/*.sui-advTermRem {*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    margin-right: 4px;*/
/*}*/

.sui-advValueRem:hover {
    color: #668eec;
}

.sui-advTerm {
    font-size: 1.1rem;
    padding: 0 .5rem .5rem 2.5rem;
    margin: -.5rem 0 0 1rem;
    text-transform:capitalize;
}
.sui-advTerm .icon::before {
    color: red;
}
.sui-advTerm:empty {
    display: none;
}
.sui-advTerm > div {
    display:inline;
    margin-right: 1.5rem;
    margin-left: 1rem;
    white-space: nowrap;
    position: relative;
}


.sui-advTerm div > span:first-child::before {
    color: #999;
    font-size: 1.35rem;
    position: relative;
    top: 0.2rem;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
}
.sui-advTerm div > span:first-child:hover::before {
    color: red;
}

.sui-advTerm div .facetItem,
.sui-advTerm div > span:last-child::before {
    display: none;
}

.sui-advEdit {
    display: none;
    background-color: #fafafa;
    text-align: left;
    border: 0.1rem solid #ddd;
    border-top-color: #aaa;
    border-bottom-width: 0.3rem;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 0.8rem 0.8rem 0.3rem;
    font-size: 1.3rem;
    color: #333;
    margin: 0 0 .75rem;
}

.sui-advBox:first-child .sui-advEdit {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.sui-advEdit-facet-ctrls {
    position: relative
}
.sui-advEdit-facet-ctrls-btns {
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}
.sui-advEdit-facet-ctrls-btns .btn {
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    border-color: #ccc;
    border-style: dashed;
    background-color: #fff;
    color: #555;
}
.sui-advEdit-facet-ctrls-btns .btn-group > .btn:first-child{
    border-radius: 1rem 0 0 1rem !important;
}
.sui-advEdit-facet-ctrls-btns .btn-group > .btn:last-child{
    border-radius: 0 1rem 1rem 0 !important;
}
.sui-advEdit-facet-ctrls-btns .btn:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #fff;
    color: #222;
    border-style:solid;
    border-color:#668eec;
}
.sui-advEdit-facet-ctrls-btns .btn:focus,
.sui-advEdit-facet-ctrls-btns .btn:active,
.sui-advEdit-facet-ctrls-btns .btn:focus-visible,
.sui-advEdit-facet-ctrls-btns .btn:active input,
.sui-advEdit-facet-ctrls-btns .btn input:focus,
.sui-advEdit-facet-ctrls-btns .btn input:active,
.sui-advEdit-facet-ctrls-btns .btn input:focus-visible,
.sui-advEdit-facet-ctrls-btns .btn:active input {
    box-shadow: none !important;
    outline: none !important;
}

.sui-advEdit-facet-ctrls-btns .btn:first-of-type {
   font-size: 1.5rem;
    padding:0 1rem;
}

.sui-advEdit input {
    border: 1px solid #aaa;
    border-radius:2rem;
    font-size: 1.25rem;
    padding: 0.3rem 1.25rem 0.1rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}
input:focus-visible,
.sui-advEdit input:focus,
.sui-advEdit-facet-ctrls-btns input:focus,
.sui-advEdit-facet-ctrls-btns input:focus-visible {
    border:none;
    outline: -webkit-focus-ring-color solid .1rem;
    outline:none !important;
    border:1px solid #668eec;
}
.sui-advPlus {
    position: relative;
}
.sui-advEditBut {
    display: inline-block;
    cursor: pointer;
    vertical-align: -2px;
    color: #999;
}
.sui-advEditBut:hover {
    color: #a4baec;
}
.sui-advEditNums {
    float: right;
    font-size: 9px;
    padding-top: 5px;
}


/*
.sui-advEditBool {
    display: inline-block;
    cursor: pointer;
    color: #668eec;
    border: 0.1rem solid #999;
    border-radius: 2px;
    padding: 0 0 1px 3px;
    margin: 2px 0;
}

.sui-boolItem {
    display: inline-block;
    color: #999;
}

.sui-boolItem:hover {
    color: #668eec;
}
*/
.sui-advEditList {
    overflow-x: hidden;
    max-height: 360px;
}

.sui-advEditLine {
    cursor: pointer;
    padding: 0 1rem 0.25rem;
    border-bottom: 0.2rem solid #fafafa;
}

.sui-advEditLine:hover {
    background-color: #dee7f1;
}
.sui-adv-facetlist > .sui-advEditLine:nth-last-child(2):hover {
    background-color:transparent !important;
}
.sui-advEditLine.chosen {
    background-color: #dee7f1;
}

.sui-advEdit-facet-ctrls {
    margin-bottom: 0.5rem;
}

.sui-advViewListPage {
    display: inline-block;
}

.sui-advViewListPage:hover {
    color: #668eec;
}

.sui-advViewTreePage {
    display: inline-block;
    padding: 0 4px;
    color: #777;
}

.sui-advViewTreePage:hover {
    color: #a4baec;
}

.sui-adv-facetlist {
    max-height: 15rem;
    padding: 0.25rem 0;
    border-radius: 1.25rem;
}
.sui-adv-facetlist .facetItem,
.sui-advBox-asset_type .sui-advEditLine .icon,
.sui-advBox:first-child .sui-advEditLine .icon {
    font-size: 1.5rem;
    position: relative;
    left: -0.5rem;
    top: 0.15rem;
}
.sui-advBox-asset_type .sui-adv-facetlist .facetItem {
    display: none;
}

.sui-adv-facetlist > .sui-advEditLine:last-child,
.sui-adv-facetlist > .sui-advEditLine:last-child:hover{
    background-color:transparent !important;
}
.sui-advEditLine > button {
    border:none;
    background-color:transparent !important;
    font-style:italic;
    font-size:1.25rem;
    color:#555;
    margin-left:1rem;
}
.sui-advEditLine > button:hover,
.sui-advEditLine > button:focus,
.sui-advEditLine > button:focus-visible {
    border:none;
    outline:transparent;
}
.sui-advEditLine > button:hover {
    color:inherit;
}
.sui-advEditLine > button[disabled]:hover {
    color:#555;
}
.sui-advEditLine > button::before {
    content: '>';
    margin-right:.75rem;
}
.sui-advEditLine > button[disabled]::before {
    content: '...';
    margin-right:0;
}

.sui-geoLocate {
    background-color: #6faaf1;
    border-radius: 16px;
    margin-top: 4px;
    padding: 0 12px;
    border: 1px solid #999;
    cursor: pointer;
    text-align: center;
    float: right;
    color: #fff;
}

/* TREE */
.sui-tree {
    user-select: none;
    overflow-x: hidden;
    max-height: 360px;
    padding-left: 6px;
    font-size: 12px;
}

.sui-tree ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.sui-tree li a {
    line-height: 19px;
    cursor: pointer;
}

.sui-tree > ul > li > a {
    color: #3b4c56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.sui-tree li.parent > a {
    padding: 0 0 2px 20px;
}

.sui-tree li.parent > a:before {
    background-image: url('treebuts.png');
    content: '';
    display: block;
    height: 15px;
    left: 0;

    position: ABSOLUTE;

    top: 2px;
    width: 15px;
    background-position: 0;
}

.sui-tree ul li.active > a:before {
    background-position: 30px;
}

.sui-tree ul li ul {
    border-left: 1px solid #a4baec;
    display: none;
    margin: 0 0 0 7px;
    padding: 0 0 0 12px;
}

.sui-tree ul li ul li {
    position: relative;
}
