@import '../index-variables';
@import '../css/fonts/shanticon/style.css';

.sui-advTop {
    text-align: center;
    color: #fff;
    background-color: #888;
    padding: 16px 8px 0 0;
    margin: -16px 0 0 -16px;
    width: calc(100% + 24px);
    height: 36px;
}

.sui-advBox {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 0 1rem;
    padding: 0;
    min-height: 5rem;
    width: calc(100% - 10px);
    cursor: default !important;
}
.l-column__search > section .sui-advBox:first-child {
    border-top: 1px solid #e0e0e0;
    margin-top: 1rem;
}
.l-column__search > section .sui-advBox:first-child .facetItem {
    display: none;
}
.sui-advBox.sui-advBox-associated.subjects {
    display: none;
}

.sui-advBox .app-name {
    line-height: 2.2rem;
}

.sui-advBox-asset_type {
    text-transform: capitalize;
}

.sui-advHeader {
    text-transform: capitalize;
    display: flex;
    font-size: 1.56rem;
    height: 3.5rem;
    padding-top: 1.2rem;
    margin-bottom: 0.8rem;
    cursor: default !important;
}
.sui-advBox:hover,
.sui-advHeader:hover {
    color: #000;
    cursor: pointer;
}

.sui-advHeader > .icon {
    margin: 0 1.25rem 0 0.75rem;
    font-size: 2.1rem;
    position: relative;
    top: -0.5rem;
    left: 0;
    color: #444;
}
.sui-advHeader > .icon > .icon::before {
    color: #555;
}
.sui-advHeader .badge {
    padding: 0.65rem 2.75rem 0.65rem 1.25rem;
    border-radius: 0.5em 0.5rem 0.2rem 0.2rem;
    color: #fff;
    cursor: default;
    line-height: 1.45;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    text-shadow: 0 0 0.1rem #161a3c;
    border: 1px solid #ddd;
    opacity: 0.8;
}
.sui-advHeader:hover .badge,
.sui-advHeader .badge:hover {
    border-color: #4d59ca;
    opacity: 1;
}
.sui-advHeader .badge.badge-secondary {
    opacity: 0.5;
}
.sui-advHeader .u-icon__plus,
.sui-advHeader .u-icon__minus {
    font-size: 0.9rem;
    color: #fff;
    cursor: default;
    position: absolute;
    right: 0.9rem;
    top: 1rem;
    font-size: 0.95rem;
    text-shadow: 0 0 0.1rem #161a3c;
}

.sui-advHeader > .app-name {
    flex: 1;
    color: #333;
}

.sui-advBox-recent .c-HistoryViewer {
    font-size: 1.25rem;
    color: #000;
    padding: 0.5rem;
    max-height: 12rem;
    position: relative;
    box-shadow: none;
    border: none;
    background: transparent !important;
    margin: 0;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem {
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    cursor: pointer;
    padding-left: 0.4rem;
    padding-bottom: 0.25rem;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem:hover {
    background-color: #dee7f1;
}

.sui-advBox-recent .c-HistoryViewer__removeItem {
    cursor: pointer;
    font-size: 1.25rem;
    color: transparent;
    margin-top: 0.35rem;
    position: absolute;
    right: 0.5rem;
    transition: color 250ms ease-in;
}

.sui-advBox-recent .c-HistoryViewer__relatedRecentItem:hover,
.c-HistoryViewer__removeItem {
    color: #aaa;
}

.sui-advBox-recent .c-HistoryViewer__removeItem:hover::before {
    color: #df3d26;
}

.sui-advBox-recent .c-HistoryViewer__removeItem:active::before {
    color: #aaa;
}

.sui-advBox-recent .sui-advEdit {
}

.sui-advValueRem:hover {
    color: #668eec;
}
.sui-advTerm {
    font-size: 1.175rem;
    padding: 0.8rem 0.5rem 0.3rem 0;
    margin: 0.5rem 0.5rem 0.2rem;
    text-transform: capitalize;
    cursor: default;
    color: #000;
    background: #f7f7f7;
    border: 1px dashed #c4c8ef;
    border-left: 0.3rem solid #6b77ea;
    border-width: 0.2rem 0.1rem 0.2rem 0.3rem;
    border-radius: 0.5rem;
}
.l-column__search .sui-advTermRem {
}
.sui-advTermRem::before {
    color: red;
}
.sui-advTermRem:hover::before {
    color: blue;
}
.sui-advTerm:empty {
    display: none;
}
.sui-advTerm > div {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0.75rem;
    white-space: nowrap;
    position: relative;
    padding-bottom: 0.2rem;
}
.sui-advTerm > div:last-child {
    margin-bottom: 0;
}
.sui-advTerm div > span:first-child::before {
    color: #999;
    font-size: 1.35rem;
    position: relative;
    top: 0.2rem;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
}
.sui-advTerm div > span:first-child:hover::before {
    color: red;
}
.sui-advTerm div .facetItem,
.sui-advTerm div > span:last-child::before {
    display: none;
}
.sui-advEdit {
}
.sui-advEdit {
    /* display: none;*/
    background-color: #fafafa;
    text-align: left;
    border: 0.1rem solid #ddd;
    border-top-width: 0.3rem;
    border-bottom-width: 0.3rem;
    border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
    border-color: #929ae4 #ddd;
    /* padding: 0.3rem 0.8rem; */
    font-size: 1.45rem; /* --- value was 1.3rem --- */
    color: #333;
    margin: 0 0.5rem 0.75rem 0.5rem;
    overflow: auto !important;
    box-shadow: inset -1rem -2rem 1.5rem #c9ccd82b;
    transition: max-height 0.65s, border 0.25s, margin 0.25s;
    max-height: 0;
}
.sui-advBox:first-child .sui-advEdit {
    font-size: 1.5rem;
    text-transform: capitalize;
    /*border-top: 2px solid #ddd;*/
}
.sui-advEdit-facet-ctrls {
    cursor: default;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: flex-start;
}
.sui-advEdit-facet-ctrls-btns {
}

.sui-advEdit-facet-ctrls-btns .btn {
    font-size: 1.3rem;
    line-height: 1.4;
    border-color: #aaa;
    border-style: solid;
    background-color: #eee;
    color: #000;
    white-space: nowrap;
}
.sui-advEdit-facet-ctrls-btns .btn-group > .btn:first-child {
    border-radius: 1.35rem 0 0 1.35rem !important;
    font-size: 1.85rem;
    padding: 0 1.2rem 0 1.5rem;
    text-align: center;
    padding-left: 1.25rem;
}
.sui-advEdit-facet-ctrls-btns .btn-group > .btn:last-child {
    border-radius: 0 1.35rem 1.35rem 0 !important;
    font-size: 1.5rem;
    padding: 0.2rem 1.5rem 0 1rem;
    border-left-color: transparent;
}
.sui-advEdit-facet-ctrls-btns .btn:hover,
.sui-advEdit-facet-ctrls-btns .btn-primary:not(:disabled):not(.disabled):active,
.sui-advEdit-facet-ctrls-btns .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #000;
    cursor: default;
    border-color: #668eec;
    border-width: 0.15rem;
    background-color: #fff !important;
}
.sui-advEdit-facet-ctrls-btns .btn:focus,
.sui-advEdit-facet-ctrls-btns .btn:active,
.sui-advEdit-facet-ctrls-btns .btn.active,
.sui-advEdit-facet-ctrls-btns .btn:focus-visible,
.sui-advEdit-facet-ctrls-btns .btn input:focus,
.sui-advEdit-facet-ctrls-btns .btn input:active,
.sui-advEdit-facet-ctrls-btns .btn input:focus-visible,
.sui-advEdit-facet-ctrls-btns .btn.active input,
.sui-advEdit-facet-ctrls-btns .btn:active input {
    box-shadow: none !important;
    outline: none !important;
    font-weight: bold;
}

.sui-advEdit-facet-ctrls-btns
    .btn-primary:not(.active):not(:disabled):not(.disabled):hover {
    background-color: #4d59ca !important;
    color: #fff;
}

.sui-advEdit-facet-ctrls input {
    border: 1px solid #aaa;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 0.1rem 1.25rem;
    margin: 0 0 0.5rem 1rem;
    line-height: 1.6;
    color: #000;
    width: 17rem;
    transition: width 0.35s, line-height 0.35s;
}

.sui-advEdit-facet-ctrls-btns input::-webkit-input-placeholder {
    color: #aaa;
    font-style: italic;
}
.sui-advEdit-facet-ctrls-btns input::-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}
.sui-advEdit-facet-ctrls-btns input:-ms-input-placeholder {
    color: #aaa;
    font-style: italic;
}
.sui-advEdit-facet-ctrls-btns input:-moz-placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 1;
}
.sui-advEdit-facet-ctrls-btns input:focus::-webkit-input-placeholder {
    color: transparent;
}
.sui-advEdit-facet-ctrls-btns input:focus::-moz-placeholder {
    color: transparent;
}
.sui-advEdit-facet-ctrls-btns input:focus:-ms-input-placeholder {
    color: transparent;
}
.sui-advEdit-facet-ctrls-btns input:focus:-moz-placeholder {
    color: transparent;
}

.sui-advEdit-facet-ctrls-btns input:focus,
.sui-advEdit-facet-ctrls-btns input:focus-visible {
    outline: 0 none;
    outline: none !important;
    border: 1px solid #668eec;
    line-height: 1.8;
    width: 19rem;
}

.sui-advPlus {
    position: relative;
    top: -0.3rem;
    margin-right: 1rem;
}

.sui-advEditBut {
    display: inline-block;
    cursor: pointer;
    vertical-align: -2px;
    color: #999;
}
.sui-advEditBut:hover {
    color: #a4baec;
}
.sui-advEditNums {
    float: right;
    font-size: 9px;
    padding-top: 5px;
}

.sui-advEditList {
    overflow-x: hidden;
    max-height: 360px;
}

.sui-advEditLine {
    cursor: default;
    padding: 0 1rem 0.25rem;
    margin: 0 0.8rem 0.1rem;
    position: relative;
    border-radius: 0.5rem;
    border-left: 0.1rem solid #edf2f7;
}
.sui-advEditLine:hover {
    background-color: #edf2f7;
    border-left: 0.1rem solid #6b77ea;
    border-right: 0.2rem solid #6b77ea;
}
.sui-adv-facetlist > .sui-advEditLine:nth-last-child(2):hover {
    background-color: transparent !important;
}
.sui-advEditLine.chosen {
    border-right: 0.3rem solid #6b77ea;
    border-radius: 0.5rem 0 0 0.5rem;
}
.sui-advEditLine.chosen::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.15rem solid #555;
    background-color: #6b77ea;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}
.sui-advEdit-facet-ctrls {
    margin-bottom: 0.5rem;
}

.sui-advViewListPage {
    display: inline-block;
}

.sui-advViewListPage:hover {
    color: #668eec;
}

.sui-advViewTreePage {
    display: inline-block;
    padding: 0 4px;
    color: #777;
}

.sui-advViewTreePage:hover {
    color: #a4baec;
}

.sui-adv-facetlist {
    padding: 0 0 1rem;
    border-radius: 1.25rem;
    border-radius: 0 0 1.25rem 1.25rem;
}
.sui-adv-facetlist .facetItem,
.sui-advBox-asset_type .sui-advEditLine .icon,
.sui-advBox:first-child .sui-advEditLine .icon {
    font-size: 1.5rem;
    position: relative;
    left: -0.35rem;
    top: 0.05rem;
}
.sui-advBox-asset_type .sui-adv-facetlist .facetItem {
    display: none;
}

.sui-adv-facetlist > .sui-advEditLine:last-child,
.sui-adv-facetlist > .sui-advEditLine:last-child:hover {
    background-color: transparent !important;
}
.sui-advEditLine > button {
    border: none;
    background-color: transparent !important;
    font-style: italic;
    font-size: 1.25rem;
    color: $color-mandala;
    margin-left: 1rem;
}
.sui-advEditLine > button:hover,
.sui-advEditLine > button:focus,
.sui-advEditLine > button:focus-visible {
    border: none;
    outline: transparent;
}
.sui-advEditLine > button:hover {
    color: inherit;
}
.sui-advEditLine > button[disabled]:hover {
    color: #555;
}
.sui-advEditLine > button::before {
    content: '>';
    margin-right: 0.75rem;
}
.sui-advEditLine > button[disabled]::before {
    content: '...';
    margin-right: 0;
}

.sui-geoLocate {
    background-color: #6faaf1;
    border-radius: 16px;
    margin-top: 4px;
    padding: 0 12px;
    border: 1px solid #999;
    cursor: pointer;
    text-align: center;
    float: right;
    color: #fff;
}

/* TREE */
.sui-tree {
    user-select: none;
    overflow-x: hidden;
    max-height: 360px;
    padding-left: 6px;
    font-size: 12px;
}

.sui-tree ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.sui-tree li a {
    line-height: 19px;
    cursor: pointer;
}

.sui-tree > ul > li > a {
    color: #3b4c56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.sui-tree li.parent > a {
    padding: 0 0 2px 20px;
}

.sui-tree li.parent > a:before {
    background-image: url('treebuts.png');
    content: '';
    display: block;
    height: 15px;
    left: 0;

    position: ABSOLUTE;

    top: 2px;
    width: 15px;
    background-position: 0;
}

.sui-tree ul li.active > a:before {
    background-position: 30px;
}

.sui-tree ul li ul {
    border-left: 1px solid #a4baec;
    display: none;
    margin: 0 0 0 7px;
    padding: 0 0 0 12px;
}

.sui-tree ul li ul li {
    position: relative;
}

.facetlist-updating {
    margin-left: 2rem;
    font-size: 1.25rem;
    font-style: italic;
}
