@import '../../index-variables';

.c-kmaptree {
    margin: 0 1rem;
    max-height: 50rem;
    overflow-y: scroll;
    border-style: solid;
    border-color: #929ae4 #929ae4 #929ae4 #ddd;
    border-width: 0.2rem 0.15rem 0.3rem 0.1rem;
    border-radius: 0.5rem 0.5rem 3rem 0.5rem;
    background: white;
    font-size: 1.25rem;
    padding: 0 1rem 2rem;
    box-shadow: inset -0.5rem -2rem 3rem #c0cbd04d;
}
.l-column__search .c-kmaptree {
    max-height: 75rem;
    min-height: 75rem;
    margin: 0;
    padding-top: 1rem;
    padding-left: 2rem;
    border-width: 0 0.1rem 0.3rem 0;
}
.tree-test .c-kmaptree {
    height: 80vh;
    min-width: 365px;
    max-height: 80vh;
    border: 3px inset #5960a7;
    padding: 1.25rem;
    font-size: 1.45rem;
}
.c-perspective-select {
    white-space: nowrap;
    font-size: 1.15rem;
    margin-top: 0.75rem;
    label {
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5rem;
        font-size: 1.35rem;
    }
    label a {
        margin-left: 0.5rem;
        margin-right: 1.5rem;
    }
    select {
        display: inline-block;
        width: fit-content;
        /*max-width: unset;*/
        border-radius: 1.5rem;
        padding: 0.2rem 0.9rem;
        border-color: #aaa;
    }
}

/* All perspective selects in aside (right and left) */
aside .c-perspective-select {
    label {
        display: block;
    }
    select {
        max-width: 18rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* Right side nav trees only  (#kmaps-tab-tabpane-terms) */
aside#l-column__search--treeNav .c-perspective-select {
    label {
        display: inline-block;
    }
    select {
        /* max-width: unset; */
    }
}

aside#l-column__search--treeNav {
    .treeNav-header {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        font-size: 1.45rem;
        font-weight: bold;
        letter-spacing: 0.0525rem;
        padding-top: 0.5rem;
        .treeNav-header__closeButton {
            cursor: pointer;
            font-size: 2rem;
            opacity: 0.5;
            position: relative;
            left: 0.25rem;
            top: -0.5rem;
            .icon::before {
                color: #b8860b;
            }
            &:hover {
                /* transform: scale(0.85);
                opacity: 7; */
            }
            &:active {
                /* transform: scale(0.9);
                opacity: 1; */
            }
        }
    }
}

.modal-dialog.modal-persp-desc {
    min-width: 60vw;

    .modal-header {
        background-color: slategray;
        color: #ededed;

        .modal-title.h4 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

/* Leaf Styles */

.c-kmapleaf {
    margin-top: 0.1rem;
    /* white-space: nowrap; */
    max-width: inherit;
    overflow: hidden;
    .toggle-icon {
        display: inline-block;
        margin-right: 0.6rem;
        font-size: 1.65rem;
        position: relative;
        top: 0.15rem;
    }
    .label a {
        color: #000;
        &:hover {
            color: #df3d26;
        }
    }
    span.bo,
    span.zh {
        font-size: 130%;
    }
    &.selected > .c-kmapnode > .label {
        border-bottom: 0.3rem solid #cca843;
    }
    &.selected > .c-kmapnode > .toggle-icon::before {
        background-color: #b99b45;
        background-color: red;
        border-color: red;
    }
}

.leafend {
    padding-left: 0.3rem;

    .toggle-icon::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        margin-right: 0.45rem;
        margin-left: 0.15rem;
        /*  background-color: #a27f1c; */
        border: 2px solid #b99b45;
        display: inline-block;
        position: relative;
        top: -0.25rem;
        transform: rotate(45deg);
    }
}

.leafend:hover .toggle-icon::before {
    background-color: #b99b45;
}

.leafopen .children {
    display: block;
}

.leafclosed .children {
    display: none;
}

.lvl-0 {
    margin-left: 0 !important;
}

[class*='lvl-'] {
    margin-left: 1rem; /* amount of indent per level of tree */
}

/** Domain Specific Styles **/
.c-kmaptree.places {
    .c-kmapnode .toggle-icon {
        color: $color-places;
    }
}

.c-kmaptree.subjects {
    .c-kmapnode .toggle-icon {
        color: $color-subjects;
    }
}

.c-kmaptree.terms {
    .c-kmapnode .toggle-icon {
        color: $color-terms;
    }
}

.c-kmaptree span.addinfo {
    font-size: 80%;
    color: grey;
}
