@import '../../index-variables';

.c-kmaptree {
    margin-top: 2rem;
    margin-left: 2rem;
    max-height: 50rem;
    overflow-y: scroll;
}

.tree-test .c-kmaptree {
    height: 80vh;
    min-width: 365px;
    max-height: 80vh;
    border: 3px inset #5960a7;
    padding: 1.25rem;
    font-size:1.45rem;
}

#l-column__search--treeNav .c-kmaptree {
    max-height: 70rem;
}

.c-perspective-select {
    white-space: nowrap;
    font-size: 1.15rem;
    label {
        display: inline-block;
        font-weight: bold;
        margin-right: .5rem;
        font-size: 1.35rem;
    }
    select {
        display: inline-block;
        width: fit-content;
        max-width: unset;
        border-radius: 1.5rem;
        padding: .2rem .9rem;
        border-color: #aaa;
    }
}

/* All perspective selects in aside (right and left) */
aside .c-perspective-select {
    label {
        display: block;
    }
    select {
        max-width: 18rem;
    }
}

/* Right side nav trees only  (#kmaps-tab-tabpane-terms) */
aside#l-column__search--treeNav .c-perspective-select {
    label {
        display: inline-block;
    }
    select {
        max-width: unset;
    }
}

.c-kmapleaf {
    margin-top: 0.1rem;
    white-space: nowrap;
    max-width: inherit;
    overflow: hidden;
    font-size:1.4rem;
    .toggle-icon {
        display: inline-block;
        margin-right: 0.6rem;
        font-size: 1.65rem;
        position: relative;
        top: .15rem;
    }
    .label a {
        color: #000;
        &:hover {
            color: #df3d26;
        }
    }
    &.selected > .c-kmapnode > .label {
        font-weight: bold;
    }
}

.leafend {
    padding-left: 0.3rem;

    .toggle-icon {
        color: $color-text--lighter !important;
    }
}

.leafopen .children {
    display: block;
}

.leafclosed .children {
    display: none;
}

.lvl-0 {
    margin-left: 0rem !important;
}

[class*='lvl-'] {
    margin-left: 1rem; /* amount of indent per level of tree */
}

/** Domain Specific Styles **/
.c-kmaptree.places {
    .c-kmapnode .toggle-icon {
        color: $color-places;
    }
}

.c-kmaptree.subjects {
    .c-kmapnode .toggle-icon {
        color: $color-subjects;
    }
}

.c-kmaptree.terms {
    .c-kmapnode .toggle-icon {
        color: $color-terms;
    }
}

.c-kmaptree span.addinfo {
    font-size: 80%;
    color: grey;
}
