@import '../../index-variables';

.c-kmaptree {
    margin: 0 1rem;
    max-height: 50rem;
    overflow-y: scroll;
    border: 2px solid #ddd;
    border-width: 0 2px 4px 0;
    border-radius: 0 0 3rem 0;
    background: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem 2rem;
}
.l-column__search .c-kmaptree {
    max-height: 75rem;
    min-height: 75rem;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    box-shadow: 1rem 2rem 5rem 0.2rem #eee;
}
.tree-test .c-kmaptree {
    height: 80vh;
    min-width: 365px;
    max-height: 80vh;
    border: 3px inset #5960a7;
    padding: 1.25rem;
    font-size: 1.45rem;
}
.c-perspective-select {
    white-space: nowrap;
    font-size: 1.15rem;
    label {
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5rem;
        font-size: 1.35rem;
    }
    label a {
        margin-left: 0.5rem;
        margin-right: 1.5rem;
    }
    select {
        display: inline-block;
        width: fit-content;
        max-width: unset;
        border-radius: 1.5rem;
        padding: 0.2rem 0.9rem;
        border-color: #aaa;
    }
}

/* All perspective selects in aside (right and left) */
aside .c-perspective-select {
    label {
        display: block;
    }
    select {
        max-width: 18rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* Right side nav trees only  (#kmaps-tab-tabpane-terms) */
aside#l-column__search--treeNav .c-perspective-select {
    label {
        display: inline-block;
    }
    select {
        /* max-width: unset; */
    }
}

.modal-dialog.modal-persp-desc {
    min-width: 60vw;

    .modal-header {
        background-color: slategray;
        color: #ededed;

        .modal-title.h4 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

/* Leaf Styles */

.c-kmapleaf {
    margin-top: 0.1rem;
    white-space: nowrap;
    max-width: inherit;
    overflow: hidden;
    .toggle-icon {
        display: inline-block;
        margin-right: 0.6rem;
        font-size: 1.65rem;
        position: relative;
        top: 0.15rem;
    }
    .label a {
        color: #000;
        &:hover {
            color: #df3d26;
        }
    }
    &.selected > .c-kmapnode > .label {
        border-bottom: 0.2rem solid #cca843;
    }
}

.leafend {
    padding-left: 0.3rem;

    .toggle-icon::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        margin-right: 0.45rem;
        margin-left: 0.15rem;
        background-color: #a27f1c;
        display: inline-block;
        position: relative;
        top: -0.3rem;
        transform: rotate(45deg);
    }
}

.leafopen .children {
    display: block;
}

.leafclosed .children {
    display: none;
}

.lvl-0 {
    margin-left: 0rem !important;
}

[class*='lvl-'] {
    margin-left: 1rem; /* amount of indent per level of tree */
}

/** Domain Specific Styles **/
.c-kmaptree.places {
    .c-kmapnode .toggle-icon {
        color: $color-places;
    }
}

.c-kmaptree.subjects {
    .c-kmapnode .toggle-icon {
        color: $color-subjects;
    }
}

.c-kmaptree.terms {
    .c-kmapnode .toggle-icon {
        color: $color-terms;
    }
}

.c-kmaptree span.addinfo {
    font-size: 80%;
    color: grey;
}
