.c-MainSearchToggle--group {
    align-self: center;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.c-MainSearchToggle--group label {
    background-color: #fff;
    padding: 0.8rem 0;
    width: 6.5rem;
    height: 4.6rem;
}
.c-MainSearchToggle--group label,
.c-MainSearchToggle--group label input:focus {
    box-shadow: none !important;
    outline: none !important;
    border-radius: 0;
    border-width: 0 0.15rem;
}
.c-MainSearchToggle--group svg {
    font-size: 2.2rem;
    color: #000;
    position: relative;
    top: 0.3rem;
}
.c-MainSearchToggle--group label.active {
    background-color: #4d59ca;
}
.c-MainSearchToggle--group label.active::before {
    width: 0;
    height: 0;
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 1px 8px 7px 8px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    z-index: 1005;
    margin-left: -0.6rem;
    background-color: transparent;
}
.c-MainSearchToggle--group label.btn.active svg {
    color: #fff;
}
.c-MainSearchToggle--button {
    color: black;
    border-color: #ddd !important;
    border-bottom-color: transparent !important;
    opacity: 1;
}
.c-MainSearchToggle--button:hover {
    color: #000 !important;
    background-color: #e9f4ff !important;
}
.c-MainSearchToggle--button.focus,
.c-MainSearchToggle--button.active,
.c-MainSearchToggle--button.active:hover,
.c-MainSearchToggle--button.active:focus {
    background-color: #6670d0 !important;
    opacity: 1;
    box-shadow: inset 0 0 2rem #4d59ca !important;
}

.c-MainSearchToggle--group .c-MainSearchToggle--button.active {
    &:first-child {
        /* border-left: 0.15rem solid #ccc !important; */
        /*border-left: none !important;*/
    }
    &:nth-child(n + 2) {
        /*  box-shadow: inset 0 0.5rem 0.5rem #ccc !important; */
    }
}

.c-MainSearchToggle--button:not(.active) {
    &:first-child {
        /*  border-right: 1px outset #ccc !important; */
        border-left: 0.15rem solid #ccc !important;
    }
    &:nth-child(n + 2) {
    }
}
