.sui-termDicts__wrapper {
    margin-bottom: 3.2rem;
}
.sui-termDicts__title {
    font-size: 1.65rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
    display: block;
    background: #91693e;
    padding: 1rem 1.6rem 0.8rem 5rem;
    border-radius: 0.75rem 0.5rem 0.5rem 0.75rem;
    border-left: 1rem double #fff;
    margin-left: -0.5rem;
    position: relative;
}
.sui-termDicts__title:before {
    content: '\e658';
    display: inline-block;
    font-family: shanticon, sans-serif;
    color: #eee;
    position: absolute;
    font-size: 2.55rem;
    width: 3rem;
    height: 3rem;
    left: 1.5rem;
    bottom: 1rem;
}
.sui-termDicts__content {
    padding: 1.5rem 2rem;
    background-color: #fff;
    margin-top: 0.75rem;
    /*border: 0.1rem solid #ccc;
    border-radius: 0 0 1rem 1rem;*/
}
.sui-termDicts__dict-name {
    font-weight: 400;
    font-style: italic;
    font-size: 1.75rem;
    margin-left: -0.75rem;
}
.sui-termDicts__dict-name span {
    margin-left: 0.25rem;
}
ul.sui-termDicts__dict-wrapper {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    padding-inline-start: 20px;
}

ul.sui-termDicts__dict-wrapper li {
    margin-bottom: 0.5rem;
}

.sui-termDicts__dict-extra {
    text-align: right;
    color: #91693e;
    margin-top: 0;
    margin-bottom: 1.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.1rem;
    font-weight: bold;
}

.sui-termDicts__dict-extra:last-child {
    border-bottom: none;
}

.sui-termDicts__dict-extra-lang {
    text-transform: uppercase;
}

dl {
    width: 100%;
    margin-left: 2rem;
}
dt {
    float: left;
    font-family: 'Helvetica-Neue', helvetica, arial, sans-serif;
    text-align: left;
    text-transform: uppercase !important;
    font-weight: normal;
    font-size: 90%;
    padding-right: 0.5rem;
    vertical-align: text-bottom;
    line-height: 2.25rem;
}
dt a {
    font-weight: normal;
}

dd {
    width: 80%;
}

dd span a {
    white-space: nowrap;
}
