@import '../../../index-variables';
@import '../../../css/fonts/shanticon/style.css';

.c-featurePager__container {
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 3rem;

    &.bottom {
        margin-top: 3rem;
    }
    .c-featurePager__resultSummary {
        white-space: nowrap;
        margin-bottom: 1.5rem;
        .start,
        .end {
            display: inline-block;
            margin-left: 0px;
            margin-right: 4px;
        }
    }
    .c-featurePager__navButtons {
        white-space: nowrap;
        margin-bottom: 1.5rem;
        .icon {
            margin: 0 0.75rem 0 0;
            padding: 0 0.75rem;
            color: #888;
            cursor: pointer;
            font-size: 90%;
            &:hover {
                color: #555;
            }
        }
        span input {
            height: 2.5rem;
            position: relative;
            top: -0.05rem;
            margin-left: 1rem;
            margin-right: 0.5rem;
            text-align: center;
            border: 1px solid #ccc;
        }
        .c-pager__counterWrapper {
            margin-right: 1rem;
            margin-bottom: 1.5rem;
            span {
                padding: 0;
                margin: 0;
                width: 15px;
            }
            .c-pager__counterMax {
                padding: 0 1rem;
            }
            .c-featurePager__itemCount {
                white-space: nowrap;

                .react-numeric-input {
                    padding-right: 2rem;
                    padding-left: 0.5rem;
                }
                input {
                    margin-left: 0.5rem;
                    padding: 0.5rem 0;
                    text-align: center;
                    width: 6rem;
                }
            }
        }
    }
}

.c-view__wrapper.list .c-featurePager__container {
    padding: 0 2rem 0 2.5rem;
}
.c-view__wrapper.gallery .c-featurePager__container {
    padding: 0 1.5rem 0 1.5rem;
}
