@import '../../../index-variables';
@import '../../../css/fonts/shanticon/style.css';

.c-featurePager__container {
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 3rem;

    &.bottom {
        margin-top: 3rem;
    }
    .c-featurePager__resultSummary {
        white-space: nowrap;
        margin: 0 auto 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        .start,
        .end {
            display: inline-block;
            margin-left: 0px;
            margin-right: 4px;
        }
    }
    .c-featurePager__navButtons {
        white-space: nowrap;
        margin: 0 auto 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .icon {
            margin: 0 0.75rem 0 0;
            padding: 0.6rem 0.75rem 0.6rem 1rem;
            color: #888;
            cursor: pointer;
            font-size: 90%;
            background-color: transparent;
            border-radius: 1.5rem;
            border: 0.2rem solid #f0f0f0;
            transition: all 0.4s;
            &:hover {
                color: #555;
                border-color: #888;
                background-color: #fff;
            }
            &:active {
                border-color: $color-mandala;
                border-width: 0.1rem;
                background-color: #fff;
            }
        }
        span input {
            line-height: 1.15;
            width: 5rem;
            position: relative;
            top: 0.1rem;
            margin-left: 1rem;
            margin-right: 0.85rem;
            text-align: center;
            border: 1px solid $color-mandala;
            border-radius: 0.35rem;
        }
        .c-pager__counterWrapper {
            margin-right: 2.5rem;
            margin-left: 2.5rem;
            margin-bottom: 1.5rem;
            font-style: italic;
            font-size: 1.75rem;
            span {
                padding: 0;
                margin: 0;
                width: 15px;
            }

            .c-pager__counterMax {
                padding: 0 1rem;
            }
        }
    }
    .c-featurePager__itemCount {
        white-space: nowrap;
        margin: 0 auto 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        .react-numeric-input {
            padding-right: 2rem;
            padding-left: 0.5rem;
        }
        input {
            margin-left: 0.5rem;
            padding: 0.2rem 0;
            text-align: center;
            width: 6rem;
            border-radius: 0.35rem;
            line-height: 1.5;
        }
    }
}

.c-view__wrapper.list .c-featurePager__container {
    padding: 0 2rem 0 2.5rem;
}
.c-view__wrapper.gallery .c-featurePager__container {
    padding: 0 1.5rem 0 1.5rem;
}
